body {
    margin: 0;
}

.banner {
    height: 95vh;
    background: url(../components/assets/banner.jpg)0% 0% / cover no-repeat;
    background-position: left;
    /* width: 50%; */
}

.header {
    text-align: center;
    color: white;
    padding: 7.5rem;
}

.title {
    font-size: 55px;
}

.title2 {
    font-size: 40px;
}

.butt {
    border-radius: 17px;
    color: white;
    background-color: transparent;
    padding: 1rem 3rem;
    border-color: white;
}

.about_section {
    /* background-color: rgb(7, 7, 7); */
    /* background-color: #101010; */
    background-color: #1B1B1B;
}

.about {
    height: 55vh;
    display: flex;
    width: 80%;
    margin: 0 auto;
    padding-top: 6rem;
    padding-bottom: 3rem;
    color: white;
}

.about img {
    width: 45rem;
    padding-right: 5.5rem;
}

.about_info {
    width: 50%;
    font-size: 25px;
}

.slideshow_section {
    height: 55vh;
    padding-top: 5rem;
    /* background-color: #1B1B1B; */
    background-color: #101010;
}

.slideshow_section h2 {
    text-align: center;
    font-size: 35px;
}

.faq {
    display: flex;
    justify-content: center;
    height: 80vh;
    /* background-color: #101010; */
    background-color: #1B1B1B;
    color: white;
}


.faq img {
    width: 42rem;
    padding-right: 2rem;
}