body {
    margin: 0;
}

.banner {
    height: 60vh;
}

.about_section {
    background: grey;
}

.about {
    height: 45vh;
    display: flex;
    width: 70%;
    margin: 0 auto;
}

.about img {
    width: 550px;
    padding-right: 5.5rem;
}

.about_info {
    width: 60%;
    font-size: 25px;
}

.slideshow_section {
    height: 40vh;
}

.faq {
    display: flex;
    justify-content: center;
    height: 80vh;
    background: grey
}


.faq img {
    width: 500px;
    padding-right: 3rem;
}