body {
    margin: 0;
}

.banner {
    height: 95vh;
    background: url(../components/assets/banner.jpg)0% 0% / cover no-repeat;
    background-position: left;
    /* width: 50%; */
}

.header {
    text-align: center;
    color: white;
    padding: 7.5rem;
}

.title {
    font-size: 50px;
}

.butt {
    border-radius: 20px;
    color: white;
    background-color: transparent;
    padding: 1rem 3rem;
    border-color: white;
}

/* .about_section {
    background: grey;
} */

.about {
    height: 45vh;
    display: flex;
    width: 70%;
    margin: 0 auto;
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
}

.about img {
    width: 550px;
    padding-right: 5.5rem;
}

.about_info {
    width: 60%;
    font-size: 25px;
}

.slideshow_section {
    height: 60vh;
    /* background-color: #7A7A7A; */
}

.slideshow_section h2 {
    text-align: center;
    font-size: 35px;
}

.faq {
    display: flex;
    justify-content: center;
    height: 80vh;
    /* background: grey */
}


.faq img {
    width: 42rem;
    padding-right: 2rem;
}